<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warmane.mapper.RoleMapper">	
	<!--  查询单条记录  -->  
	

    <select id="selectRoleByName" parameterType="String" resultMap="roleResultMap">  
       select * from role where roleName = #{name}  
    </select>
    
    <resultMap  id="roleResultMap" type="Role">
        <id column="id" property="id" />
        <result column="roleName" property="roleName" />
		<collection property="alts" ofType="Role" column="id" select="getAlts" />
   </resultMap>
    
     <select id="getAlts" parameterType="String" resultType="Role">  
       select * from role where relateRoleId = #{name}  
    </select>
    	
</mapper>